$primary   : #D32F2F;
$secondary : #C62828;
$accent    : #E57373;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
